body {
    background-image:url("../img/screamingBarnes.gif");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 0px 5%;
}

#runningWolfBox {
    width:100%;
    margin-top:100px;
}

#runningWolf, #flyingBird {
    position:absolute;
}

#watchingDogFrame {
    position: fixed;
    bottom:0;
    width:100%;
}

.watchingDogBox {
    float:left;
    width:9.9%;
    margin-left:0.1%;
}

.watchingDog {
    height:100px;
}